// main.rc

#include "resource.h"


RSID_ICON_MAIN                     ICON "icons/main.ico"
RSID_ICON_MAIN_SMALL               ICON "icons/main_small.ico"
RSID_ICON_FOR_TDP                  ICON "icons/for_tdp.ico"
RSID_ICON_NEW_PROJECT              ICON "icons/new_project.ico"
RSID_ICON_OPEN_PROJECT             ICON "icons/open_project.ico"
RSID_ICON_SAVE_PROJECT             ICON "icons/save_project.ico"
RSID_ICON_PROJECT_HISTORY          ICON "icons/project_history.ico"
RSID_ICON_PROJECT_SETTINGS         ICON "icons/project_settings.ico"
RSID_ICON_DEFAULT_PROJECT_SETTINGS ICON "icons/default_project_settings.ico"
RSID_ICON_COMPILE                  ICON "icons/compile.ico"
RSID_ICON_BUILD                    ICON "icons/build.ico"
RSID_ICON_REBUILD                  ICON "icons/rebuild.ico"
RSID_ICON_CLEAN                    ICON "icons/clean.ico"
RSID_ICON_EXECUTE                  ICON "icons/execute.ico"
RSID_ICON_EXTERNAL_PROGRAM         ICON "icons/external_program.ico"
RSID_ICON_STOP_EXTERNAL_PROGRAM    ICON "icons/stop_external_program.ico"
RSID_ICON_ADD_NEW_FILE             ICON "icons/add_new_file.ico"
RSID_ICON_ADD_EXISTING_FILE        ICON "icons/add_existing_file.ico"
RSID_ICON_ADD_DIRECTORY            ICON "icons/add_directory.ico"
RSID_ICON_DELETE_ELEMENT           ICON "icons/delete_element.ico"
RSID_ICON_DOWN_ELEMENT             ICON "icons/down_element.ico"
RSID_ICON_UP_ELEMENT               ICON "icons/up_element.ico"
RSID_ICON_RENAME_ELEMENT           ICON "icons/rename_element.ico"
RSID_ICON_PROJECT_ELEMENT          ICON "icons/project_element.ico"
RSID_ICON_DIRECTORY                ICON "icons/directory.ico"
RSID_ICON_C_FILE                   ICON "icons/c_file.ico"
RSID_ICON_CPP_FILE                 ICON "icons/cpp_file.ico"
RSID_ICON_RESOURCE_SCRIPT_FILE     ICON "icons/resource_script_file.ico"
RSID_ICON_HEADER_FILE              ICON "icons/header_file.ico"
RSID_ICON_OTHER_FILE               ICON "icons/other_file.ico"
